html, body {
	font-family: Verdana, Arial, serif;
	font-size: 10px;
	margin: 0 auto;
	text-align: center;
	background-color: #7f7f7f;
}

h1 {
	font-size: 4rem;
	color: #333;
}

button {
	color: #333;
	background-color: #f2f2f2;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.9rem;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	border: 0;
}

button:hover {
	color: #fff;
	background-color: #333;
}

div {
	width: 800px;
	margin: auto;
}

ul {
	list-style: none;
	text-align: center;
	margin-right: 40px;
	margin-bottom: 50px;
}

li {
	position: absolute;
	margin-left: -84px;
	opacity: 0;
	transition: opacity 1s ease;
}

.look {
  /*display: none;*/
  transition: opacity 1s ease;
  opacity: 1;
  position: absolute;
  margin-left: -84px;
}
img {
	width: 800px;
	height: 600px;
	position: absolute;
	border: 4px solid #fff;
}

figcaption {
	font-size: 3rem;
	color: #777;
	background-color: rgba(255, 255, 255, 0.15);
	position: absolute;
	width: 800px;
	bottom: -604px;
	left: 44px;
}

.activeImg {
	font-size: 3rem;
	color: #000;
	text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}
