html, body {
	font-family: Verdana, Arial, serif;
	font-size: 10px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 3rem;
}

div {
	width: 400px;
	margin: auto;
}

ul {
	list-style: none;
	text-align: center;
	margin-right: 40px;
	margin-bottom: 50px;
}

li {
	position: absolute;
	margin-left: -40px;
}

.hide {
	display: none;
}

img {
	width: 400px;
	height: 300px;
}

figure {
	margin-left: 0;
}
figcaption {
	font-size: 3rem;
	color: #777;
	background-color: rgba(255, 255, 255, 0.15);
	margin-top: -50px;
	position: absolute;
	width: 100%;
	bottom: 13px;
}

.activeImg {
	font-size: 3rem;
	color: #000;
	text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}
